:root{
    --primary-color:rgb(168, 90, 231);
    --white:#fff;
    --shade-of-blue:#264653;
    --black:#000;
    --grey:#eee;
}

.header{
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

h1.header:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 70%;  /* or 100px */
    border-bottom:thin solid var(--black);
}

.main{
    margin:3rem 3rem 0 3rem;
    padding: 3rem;
    border:1px solid var(--black);
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    align-items: center;
    font-weight: 700;
}


/*UTILITIES*/

.pd{
    padding: .5rem 1rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.gen-badge{
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
    background-color:var(--primary-color);
    position: absolute;
    right: -5px;
    top: -5px;
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}


/*GENERAL*/

.badge{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon-badge{
    background-color:var(--shade-of-blue);
    right: 10px;
    top: -5px;
}

.large-badge{
    width:30px;
    height:30px;
    font-size: 24px;
    right: -10px;
    top: -10px;
}

.btn-badge{
    left: -12px;
    top: -15px;
}

.text-pos{
    width: max-content;
    position: relative;
}

.btn{
    border:none;
    padding: .5rem 1rem;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    background-color:var(--shade-of-blue);
    color:var(--white);
    opacity: .9;
}

.btn:hover{
    border:none;
    padding: .5rem 1rem;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    background-color:var(--shade-of-blue);
    color:var(--white);
    opacity: 1;
}

.para-icon{
    position: relative;
    width:9.5rem;
}

.toggle-btn-icon{
    display: none;
}