body{
  display: flex;
}
:root{
    --primary-color:rgb(168, 90, 231);
    --white:#fff;
    --secondary-color:#e9c46a;
    --shade-of-blue:#264653;
    --misc:#e76f51;
    --black:#000;
    --grey:#eee;
    --text-color:rgba(0, 0, 0, 0.54);
}

.header{
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index : 1;
}

h1.header:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 70%;  /* or 100px */
    border-bottom:thin solid var(--black);
}

.main{
    padding: 3rem;
    border:1px solid var(--black);
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    align-items: center;
    flex-grow: 1;
    transition: margin-left .5s;
}

.drawer{
    width:255px;
    background:white;
    padding:.5rem 1rem 1rem 1rem;
    box-sizing:border-box;
    transition : margin-right .5s;
  }
  
.title{
    margin-bottom:0;
    line-height:.25px;
  }
  .title-subtext{
    color:#808080;
  }
  
  .fa{
    font-size:24px;
  }
  
  .item{
    display:flex;
    align-items:center;
    box-sizing:border-box;
    padding: 0 1rem;
  }
  
  .fa{
    margin-right:2rem;
    color:#808080;
  }
  
  .item:hover{
    background:#D3D3D3;
  }

  .lowercase{
    text-transform: lowercase;
  }

  .btn-demo-dismissible{
    border:none;
    padding: .5rem 1rem;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    background-color:var(--shade-of-blue);
    color:var(--white);
    opacity: .8;
    margin: 2rem;
  }

  .btn-demo-dismissible:hover{
    opacity: 1;
    box-shadow: 1px 1px var(--white);
  }

  .dismissible-drawer{
    display:none;
  }

  /* .toggle-margin-lft{
    margin-left:255px;
  }  */
  /*TEST CLASSES*/
  .bdr{
    border:1px solid var(--black)
  }
  .section-btm-border{
    border-bottom: thin solid #D3D3D3;
  }
  
  .ht{
    height: 100vh;
    overflow: auto;
  }