:root{
    --primary-color:rgb(168, 90, 231);
    --white:#fff;
    --secondary-color:#e9c46a;
    --shade-of-blue:#264653;
    --misc:#e76f51;
    --black:#000;
    --grey:#eee;
    --text-color:rgba(0, 0, 0, 0.54);
}

.header{
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index : 1;
}

h1.header:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 70%;  /* or 100px */
    border-bottom:thin solid var(--black);
}

.main{
    padding: 3rem;
    border:1px solid var(--black);
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    align-items: center;
}

.nav-title{
    font-size: 1.5rem;
    color: var(--white);
}

.app-bar{
  background:var(--shade-of-blue);
  width:80%;
  height:50px;
  display:flex;
  align-items:center;
  padding:0 1rem;
}

.md-rt-lt{
  margin:0 1rem;
}
.md-lt{
    margin-left:.5rem;
}

.flex{
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.item2{
  margin-left:auto;
  gap:1rem;
 }

 .fa{
     color: var(--white);
 }

